<% include ../../partials/header %>
<% include ../../partials/menu %>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <% include ../../partials/sidebar %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="mt-4">Activity</h1>
            <hr />
            <h3>Project #<%= projectid %> (<%= result.projectname %>)</h3>
            <% response.forEach((item) => { %>
            <div class="card bg-light mb-3" style="max-width: 40rem;">
                <div class="card-header">
                    <strong><%= item.date %></strong>
                </div>
                <% response.forEach((list) => { %>
                <div class="card-body">
                    <p class="card-text">
                        <span class="badge badge-primary"><%= list.timeactivity %></span><br />
                        <%= list.title %> <%= list.description %><br />
                        Author: Krina Wibisana
                    </p>
                </div>
                <% }) %>
            </div>
            <% }) %>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

<% include ../../partials/footer %>