<% include ../../partials/header %>
<% include ../../partials/menu %>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <% include ../../partials/sidebar %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" style="margin-top: 5px;">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        </div>
        <div class="container-fluid"">
            <h1>Activity</h1>
            <hr />
            <h3>Project #<%= projectid %> (<%= projectname %>)</h3>
            <div class="card bg-light mb-3" style="max-width: 40rem;">
                <% activitydate.forEach((item) => { %>
                    <div class="card-header">
                        <strong><%= item.date %></strong>
                    </div>
                    <% item.data.forEach((list) => { %>
                        <div class="card-body">
                            <p class="card-text">
                            <span class="badge badge-primary"><%= list.timeactivity %></span><br />
                            <%= list.title %> <%= list.description %><br />
                            Author: <%= list.author %>
                            </p>
                        </div>
                    <% }) %>
            </div>
                <% }) %>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

<% include ../../partials/footer %>