<% include ../../partials/header %>
<% include ../../partials/menu %>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <% include ../../partials/sidebar %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" style="margin-top: 5px;">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        </div>
        <div class="container-fluid"">
            <h1>Overview</h1>
            <hr />
            <h3>#<%= count.projectid %> <%= count.name %></h3>
            <div class="card bg-light mb-3" style="max-width: 30rem;">
                <div class="card-header"><strong>Issue Tracking</strong></div>
                <div class="card-body">
                    <p class="card-text align-left">
                        <ul>
                            <% response.forEach(item => { %>
                            <li><%= item.tracker %> <span class="badge badge-primary"><%= item.open %> Open / <%= result.total %> Total</span></li>
                            <% }) %>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 30rem;">
                <div class="card-header"><strong>Members</strong></div>
                <div class="card-body">
                    <p class="card-text align-left">
                        <ul>
                            <% row.forEach(item => { %>
                            <li><%= item.fullname %></li>
                            <% }) %>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- /#page-content-wrapper -->
</div>

<% include ../../partials/footer %>