<% include ../partials/header %>
<% include ../partials/menu %>
<div class="container-fluid">
    <h1>Projects</h1>
    <hr />
    <h3><i class="fas fa-filter"></i> Filters</h3>
    <form action="/" method="GET">
        <div class="form-group row">
            <label for="id" class="col-sm-1 col-form-label"><input type="checkbox" name="check_projectid" <%= query.check_prpjectid ? ' checked' : '' %>> ID</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="id" placeholder="ID" name="projectid" value="<%= query.check_projectid %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-1 col-form-label"><input type="checkbox" name="check_projectname" <%= query.check_projectname ? ' checked' : '' %>> Name</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="name" placeholder="Name" name="projectname" value="<%= query.check_projectname %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="member" class="col-sm-1 col-form-label"><input type="checkbox" name="check_member" <%= query.check_member ? ' checked' : '' %>>
                Member</label>
            <div class="col-sm-2">
                <select id="member" class="form-control" name="member">
                    <option disabled selected>Choose the member...</option>
                    <% dataMembers.forEach((item, i) => { %>
                    <option value="<%= item %>"
                        <%= query.check_member ? (query.member == item ? ' selected' : '') : '' %>>
                        <%= fullname[i] %>
                    </option>
                    <% }) %>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
        <a href="/projects"><button type="button" class="btn btn-outline-warning"><i class="fas fa-sync-alt"></i>
                Reset</button></a>
    </form>
    <hr />
    <h3><i class="fas fa-columns"></i> Options</h3>
    <form>
        <div class="form-group row">
            <div class="col-sm-1">Column</div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="id" value="id">
                    <label class="form-check-label" for="id">
                        ID
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="name" value="name">
                    <label class="form-check-label" for="name">
                        Name
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="member" value="member">
                    <label class="form-check-label" for="member">
                        Members
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i> Apply</button>
    </form>
    <table class="table table-striped" style="margin-top: 10px">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Members</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
            <tr>
                <td><a href="projects/overview/<%= item.projectid %>"><button type="button" class="btn btn-outline-dark"><%= item.projectid %></button></a></td>
                <td><%= item.name %></td>
                <td><%= item.fullname %></td>
                <td><a href="/projects/edit<%= item.projectid %>"><button type="button" class="btn btn-outline-success"><i class="fas fa-edit"></i> Edit</button></a></td>
                <td><a href="/delete/<%= item.projectid %>"><button type="button" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Delete</button></a></td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item<%= pagination.page == 1 ? ' disabled' : '' %>"><a class="page-link"
                    href="/users<%= pagination.url.replace(`page=${pagination.page}`, `page=${parseInt(pagination.page) - 1}`); %>">Previous</a>
            </li>
            <% for (let i = 1; i <= pagination.pages; i++) { %>
            <li class="page-item<%= i == pagination.page ? ' active' : '' %>"><a class="page-link"
                    href="/users<%= pagination.url.replace(`page=${pagination.page}`, `page=${i}`); %>"><%= i %></a></li>
            <% } %>
            <li class="page-item<%= pagination.page == pagination.pages ? ' disabled' : '' %>"><a class="page-link"
                    href="/users<%= pagination.url.replace(`page=${pagination.page}`, `page=${parseInt(pagination.page) + 1}`); %>">Next</a>
            </li>
        </ul>
    </nav>
    <a href="/projects/add"><button class="btn btn-primary"><i class="fas fa-plus"></i> Add</button></a>
</div>
<% include ../partials/footer %>