<% include ../partials/header %>
<% include ../partials/menu %>
<div class="container-fluid"">
    <h1>Edit User</h1>
    <hr />
    <form action="" method="post">
        <div class="form-group row">
            <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname" value="<%= item.firstname %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="lastname" value="<%= item.lastname %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email Address</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="email" placeholder="Email Address" value="<%= item.email %>"
                    name="email" required autofocus>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="password" placeholder="password" value="<%= item.password %>"
                    name="password" required autofocus>
            </div>
        </div>
        <div class="form-group row">
            <label for="role" class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" value="Manager" <%= item.role == 'Manager' ? ' checked': '' %>>
                    <label class="form-check-label" for="manager">
                        Manager
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" value="Software Developer" <%= item.role == 'Software Developer' ? ' checked': '' %>>
                    <label class="form-check-label" for="softwareDeveloper">
                        Software Developer
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" value="Quality Assurance" <%= item.role == 'Quality Assurance' ? ' checked': '' %>>
                    <label class="form-check-label" for="qualityAssurance">
                        Quality Assurance
                    </label>
                </div>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Type Job</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="typejob" id="typejobfulltime" value="Full Time" <%= item.typejob == 'Full Time' ? ' checked' : '' %>>
                        <label class="form-check-label" for="typejobfulltime">
                            Full Time
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="typejob" id="typejobparttime" value="Part Time" <%= item.typejob == 'Part Time' ? ' checked' : '' %>>
                        <label class="form-check-label" for="typejobparttime">
                            Part Time
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i> Update</button>
        <a href="/users"><button type="button" class="btn btn-outline-warning"><i class="fas fa-redo-alt"></i>
                Cancel</button></a>
    </form>
</div>
<% include ../partials/footer %>
