<% include ../partials/header %>
<% include ../partials/menu %>
<div class="container-fluid">
    <h1>Users</h1>
    <hr />
    <h3><i class="fas fa-filter"></i> Filters</h3>
    <form action="/" method="post">
        <div class="form-group row">
            <label for="userid" class="col-sm-2 col-form-label"><input type="checkbox" name="check_userid"> User ID</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="userid" placeholder="ID" name="userid">
            </div>
        </div>
        <div class="form-group row">
            <label for="fullname" class="col-sm-2 col-form-label"><input type="checkbox" name="check_fullname"> Name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="fullname" placeholder="fullname" name="fullname">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label"><input type="checkbox" name="check_email"> Email</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="email" placeholder="email" name="email">
            </div>
        </div>
        <div class="form-group row">
            <label for="role" class="col-sm-2 col-form-label"><input type="checkbox" name="check_role"> Role</label>
            <div class="col-sm-3">
                <select id="role" class="form-control" name="role">
                    <option disabled selected>Choose the role...</option>
                    <option value="Manager" <%= query.check_role == "Manager" ? ' selected' : ''; %>>Manager</option>
                    <option value="Software Developer" <%= query.check_role == "Software Developer" ? ' selected' : ''; %>>Software Developer</option>
                    <option value="Quality Assurance" <%= query.check_role == "Quality Assurance" ? ' selected' : ''; %>>Quality Assurance</option>
                </select>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0"><input type="checkbox" name="check_typejob" <%= query.check_typejob ? ' checked' : '' %>> Type Job</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="typejob" id="typejobfulltime" value="Full Time" <%= query.check_typejob == 'Full Time' ? ' checked' : '' %>>
                        <label class="form-check-label" for="typejobfulltime">
                            Full Time
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="typejob" id="typejobparttime" value="Part Time" <%= query.check_typejob == 'Part Time' ? ' checked' : '' %>>
                        <label class="form-check-label" for="typejobparttime">
                            Part Time
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- <div class="form-group row">
            <label for="typejob" class="col-sm-2 col-form-label"><input type="checkbox" name="check_typejob" <%= query.check_typejob ? ' checked' : '' %>> Type Job</label>
            <div class="col-sm-3">
                <input class="form-control" type="radio" name="typejob" id="typejob" value="Full Time"
                    <%= query.check_typejob == "Full Time" ? ' selected' : ''; %>/> Full Time
            </div>
        </div> -->
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
        <a href="/users"><button class="btn btn-outline-warning"><i class="fas fa-sync-alt"></i> Reset</button></a>
    </form>
    <hr />
    <h3><i class="fas fa-columns"></i> Options</h3>
    <form>
        <div class="form-group row">
            <div class="col-sm-2">Column</div>
            <div class="col-sm-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="id" value="id">
                    <label class="form-check-label" for="id">
                        ID
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="name" value="name">
                    <label class="form-check-label" for="name">
                        Name
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="email" value="email">
                    <label class="form-check-label" for="email">
                        Email
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="role" value="role">
                    <label class="form-check-label" for="role">
                        Role
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="typejob" value="typejob">
                    <label class="form-check-label" for="typejob">
                        Type Job
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i> Apply</button>
    </form>
    <table class="table table-striped" style="margin-top: 10px">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Type Job</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((item) => { %>
            <tr>
                <td><%= item.userid %></td>
                <td><%= item.fullname %></td>
                <td><%= item.email %></td>
                <td> </td>
                <td><%= item.typejob %></td>
                <td><a href="users/edit/:userid"><button type="button" class="btn btn-outline-success"><i class="fas fa-edit"></i>
                            Edit</button></a>
                    <a href="users/delete/:userid"><button type="button" class="btn btn-outline-danger"><i class="fas fa-trash"></i>
                            Delete</button></a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a></li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <a href="users/add"><button class="btn btn-primary"><i class="fas fa-plus"></i> Add</button></a>
</div>
<% include ../partials/footer %>